.noah_logo {
    font-family: 'Lobster', cursive;
}

.noah_footer_button {
  font-size: .9rem;
}

.noah_footer {
  text-align: center;
  margin-top: 2rem;
}

.noah_header {
  text-align: center;
  margin-top: 2rem 0 ;
}

